[Pandas docs](https://pandas.pydata.org)

In [2]:
import pandas as pd

In [3]:
# Завдання 1: Створити серію зі списку чисел [10, 20, 30, 40, 50]
ser1 = pd.Series([10, 20, 30, 40, 50])
print(ser1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [43]:
# Завдання 2: Створити DataFrame зі списку списків [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
# Завдання 3: Задати індекси для серії з завдання 1 рядками "a", "b", "c", "d", "e"
# Hints: series.index
ser1.index = ["a", "b", "c", "d", "e"]
print(ser1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [44]:
# Завдання 4: Перейменувати стовпці DataFrame з завдання 2 на "A", "B", "C"
# Hints: df.columns
df2.columns = ["A", "B", "C"]
print(df2)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
# Завдання 5: Знайти максимальний елемент в серії з завдання 1
ser1_max = ser1.max()
print(ser1_max)

50

In [34]:
# Завдання 6: Знайти середнє значення для кожного стовпця DataFrame з завдання 2
df2_mean = df2.mean(axis=0)
print(df2_mean)

A    4.0
B    5.0
C    6.0
dtype: float64

In [17]:
# Завдання 7: Знайти суму елементів в серії з завдання 1
ser1_sum = ser1.sum()
print(ser1_sum)

150

In [18]:
# Завдання 8: Вибрати всі рядки DataFrame з завдання 2, де значення стовпця "A" менше 5
df2_filtered = df2[df2['A'] < 5]
print(df2_filtered)

   A  B  C
0  1  2  3
1  4  5  6

In [45]:
# Завдання 9: Додати новий стовпець "D" до DataFrame з завдання 2 зі значеннями [10, 20, 30]
df2['D'] = [10, 20, 30]
print(df2)

   A  B  C   D
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

In [46]:
# Завдання 10: Видалити стовпець "B" з DataFrame з завдання 2
df2.drop(columns='B', inplace=True)
# df2.drop('B', axis=1, inplace=True)
print(df2)

   A  C   D
0  1  3  10
1  4  6  20
2  7  9  30